<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

<bean id="hp" class="com.beell.advanced.spring.ioc.Laptop">

    <constructor-arg index="0" value="hp pivilian"/>
    <constructor-arg index="1" value="500"/>
</bean>

    <bean id="hpx" class="com.beell.advanced.spring.ioc.Laptop">

        <constructor-arg index="0" value="hp x"/>
        <constructor-arg index="1" value="700"/>
    </bean>

    <bean id ="m1" class="com.beell.advanced.spring.ioc.Movie">
        <property name="name" value="Breaking Bad"/>
        <property name="rating" value="5.0"/>

    </bean>

    <bean id="service" class="com.beell.advanced.spring.ioc.SomeService" factory-method="getInstance">

    </bean>

    <bean id="address" class="com.beell.advanced.spring.ioc.Address">

        <constructor-arg index="0" value="123"/>
        <constructor-arg index="1" value="Dogwood"/>
        <constructor-arg index="2" value="Sterling"/>
    </bean>

    <bean id="customer" class="com.beell.advanced.spring.ioc.Customer">

        <constructor-arg ref="address"/>
        <property name="name" value="Jayasimha"/>

    </bean>

    <bean id="car" class="com.beell.advanced.spring.ioc.Car">

        <constructor-arg index="0" value="BMW"/>
        <constructor-arg index="1" value="10000"/>
    </bean>

    <bean id="con" class="com.beell.advanced.spring.ioc.DBConnection">
        <property name="dbDetails">
            <util:properties location="classpath:application.properties"/>
        </property>

    </bean>





</beans>
